# soil_moisture_buddy.service
# found in /lib/systemd/system/soil_moisture_buddy.service

[Unit]
Description=soil moisture calibration service.
After=mosquitto.service

[Service]
Type=idle
ExecStart=/home/pi/growbuddy/py_env/bin/python  /home/pi/growbuddy/code/examples/soil_moisture_calibration.py
Restart=always
[Install]
WantedBy=multi-user.target