
# found in /lib/systemd/system/getmoisture.service

[Unit]
Description=Temporary moisture into the tent.
After=mosquitto.service

[Service]
Type=idle
ExecStart=/home/pi/GrowBuddies/.venv/bin/python  /home/pi/GrowBuddies/growbuddiesproject/growbuddies/getmoisture.py
Restart=always
[Install]
WantedBy=multi-user.target