
# found in /lib/systemd/system/gogrowbuddies.service

[Unit]
Description=GrowBuddies managing the grow tent (currently just vpd).
After=mosquitto.service

[Service]
Type=idle
ExecStart=/home/pi/GrowBuddies/.venv/bin/python  /home/pi/GrowBuddies/growbuddiesproject/growbuddies/gogrowbuddies.py
Restart=always
[Install]
WantedBy=multi-user.target