# soil_moisture_buddy.service
# found in /lib/systemd/system/soil_moisture_buddy.service

[Unit]
Description=growBuddy Soil Moisture Service
After=mosquitto.service

[Service]
Type=idle
ExecStart=/home/pi/growBuddy/py_env/bin/python3.7  /home/pi/growBuddy/code/soil_moisture_buddy.py
Restart=always
[Install]
WantedBy=multi-user.target