


[Unit]
Description=Store SnifferBuddy readings into influxdb.

[Service]
Type=idle
ExecStart=/home/pi/GrowBuddies/.venv/bin/python  /home/pi/GrowBuddies/growbuddiesproject/growbuddies/store_readings.py
Restart=always
[Install]
WantedBy=multi-user.target